{% extends 'base.html.j2' %}
{% block content %}
  {% include 'fragments/navbar.html.j2' %}

  <div class="content">
    <div class="section">
      <div class="card">
        <div class="card-content">
          <div class="title"> {{details.email}} </div>

          <div>
            <b> Insertion date: </b>
            <span> {{ details.ins_ts }} </span>
          </div>
          <div>
            <b> Last update: </b>
            <span> {{ details.ins_ts }} </span>
          </div>
        </div>
      </div>

      <br>

      <div class="card">
        <div class="card-content">
          <div class="columns">
            <div class="column">
              <div class="title is-4"> User permissions </div>
            </div>
            <div>
              <div class="column is-narrow">
                <form action="{{url_for('add_user_permission', user_id=details.id)}}" method="POST">
                  <div class="field">
                    <span class="control has-icons-right">
                      <input class="input" name="permision_name">
                      <span class="icon is-small is-right">
                        <i class="fas fa-plus"></i>
                      </span>
                      </a>
                    </span>
                  </div>

                </form>
              </div>
            </div>
          </div>
          <hr/>

          <ul>
          {% for permission in permissions %}
            <li> {{ permission.name }} </li>
          {% endfor %}
          </ul>
        </div>
      </div>


    </div>
  </div>
{% endblock %}
