{% extends 'base.html.j2' %}
{% block content %}
  {% include 'fragments/navbar.html.j2' %}

  <div class="content">
    <div class="section">
      {% with messages = get_flashed_messages() %}
        {% for type, message in messages %}
          <div class="notification is-{{type}}">
            {{message}}
          </div>
        {% endfor %}
      {% endwith %}

      <div class="card">
        <div class="card-content">
          <div class="title"> {{details.email}} </div>

          <div>
            <b> Insertion date: </b>
            <span> {{ details.ins_ts }} </span>
          </div>
          <div>
            <b> Last update: </b>
            <span> {{ details.ins_ts }} </span>
          </div>
        </div>
      </div>

      <br>

      <div class="card">
        <div class="card-content">
          <div class="columns">
            <div class="column">
              <div class="title is-4"> User permissions </div>
            </div>
            <div>
              <div class="column is-narrow">
                <form action="{{url_for('auth.add_user_permission', user_id=details.id)}}" method="POST">
                  <div class="field">
                    <span class="control has-icons-right">
                      <input class="input" name="permision_name" placeholder="Add permission">
                      <span class="icon is-small is-right">
                        <i class="fas fa-plus"></i>
                      </span>
                      </a>
                    </span>
                  </div>

                </form>
              </div>
            </div>
          </div>
          <hr/>

          <section class="menu">
            {% for permission in permissions %}
              <div class="icon-text">
                <a class="icon has-text-danger" href="{{ url_for('auth.delete_user_permissions', user_id=details.id, permission_id=permission.id) }}">
                  <i class="fa fa-trash"> </i>
                </a>
                {{ permission.name }}
              </div>
            {% endfor %}
          </section>
        </div>
      </div>


    </div>
  </div>
{% endblock %}
